*.avi
*.mp3
*.m4a
*.zip
uploads/*

.dockerignore
.ebextensions
nbproject
public
package-lock.json
input

node-ffmpeg.zip

/node_modules
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/nbproject/private/
